<div class="card">
  <div class="card-header bg-success text-white">
    <h4>{{ task.title }}</h4>
  </div>
  <div class="card-body bg-primary text-white">
    <p>{{ task.description }}</p>
    <hr />
    <h3>{{ task.time }}</h3>
    <hr />
    <h3>{{ task.priority_level }}</h3>
    <hr />
    <h3>{{ task.category }}</h3>
    <hr />
    <h3>{{ task.progress_level }}</h3>
    <hr />
  </div>
  <a [routerLink]="['/tasks/add-task/', task.id]"><button>Edit Task</button></a>
  <button (click)="onDelete(task.id)">Delete Task</button>
</div>
